/* Home.css */

.App {
    text-align: center;
    padding: 0px;
  }
  
  .App-header {
    padding: 50px 0;
  }
  
  .svg-image {
    width: 250px;
    height: auto;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .feature-card {
    width: auto;
    margin: 0 20px 40px;
    text-align: center;
  }
  
  .feature-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .footer {
    padding: 20px 0;
  }
  
  @media (max-width: 768px) {
    .svg-image {
      width: 150px;
    }
  
    .features {
      margin-top: 30px;
    }
  
    .feature-card {
      width: 100%;
      margin: 0 10px 30px;
    }
  
    .feature-image {
      width: 150px;
    }
  }
  